/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: 'text'; 
    src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'headers';
    src: url('fonts/MartianMono-VariableFont_wdth,wght.ttf') format('truetype');
}

/* Basic styling for header and navigation */
header {
    background-color: #2b2b2b;
    color: #fff;
    font-family: 'headers', sans-serif;
    font-variation-settings: 'wght' 200, 'wdth' 200;
    text-align: center;
    padding: 1rem 0;
}

h1, h2, h3, h4 {
    color: #fff;
    font-family: 'headers', sans-serif;
    font-variation-settings: 'wght' 200, 'wdth' 200;
    text-align: left;
}

p, b1, b2, b3, b4 {
    color: #aaaaaa;
    font-family: 'text', sans-serif;
    text-align: left;
}

body {
    background-color: #2b2b2b;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* Styling for sections */
#home {
    background-color: #2f2f2f; /* Light gray for home section */
    padding: 3rem;
}

#about {
    background-color: #3b3b3b; /* A bit lighter gray for about section */
    padding: 3rem;
}

#art {
    background-color: #2f2f2f; /* Another shade for artwork section */
    padding: 3rem;
}

#photo {
    background-color: #3b3b3b; /* Different color for photography section */
    padding: 3rem;
}

#contact {
    background-color: #2b2b2b; /* Another shade for contact section */
    padding: 3rem;
}

/* Style for the image grid */
.art-image-grid {   
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between images to 10 pixels */
    padding: 0; /* Remove padding */
}

.photo-image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between images to 10 pixels */
    padding: 0; /* Remove padding */
}

/* Style for individual images in the grid */
.art-image-grid img {
    height: 200px;
    width: auto;
    margin: 0; /* Remove margin */
    border: 4px solid #393939; /* Add border style and color */
    background-color: #464646;
}

.photo-image-grid img {
    height: 200px;
    width: auto;
    margin: 0; /* Remove margin */
    border: 4px solid #474747; /* Add border style and color */
    background-color: #575757;
}


/* Style for the enlarged image modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px); /* Add backdrop filter for blur effect */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Style for the enlarged image modal */
.modal-content {
    margin: auto;
    display: block;
    border: 1cap solid #282828; /* Add border style and color */
    background-color: #313131;
    max-width: 80%;
    max-height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Style to close the modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    width: 100%;
    transition: transform 0.5s ease; /* Smooth transition for image sliding */
}