body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: 'text'; 
    src: url('fonts/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'headers';
    src: url('fonts/MartianMono-VariableFont_wdth,wght.ttf') format('truetype');
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #282828bc;
    color: #fff;
    font-family: 'headers', sans-serif;
    font-variation-settings: 'wght' 200, 'wdth' 200;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
}

h1{
    color: #fff;
    font-family: 'headers', sans-serif;
    font-variation-settings: 'wght' 200, 'wdth' 200;
    text-align: left;
    font-size: 2em;
} 
h2, h3, h4 {
    color: #fff;
    font-family: 'headers', sans-serif;
    font-variation-settings: 'wght' 200, 'wdth' 200;
    text-align: left;
}

a {
    color: #e2e2e2;
    transition: font-size 0.3s ease;
}

/* Add this CSS rule */
nav a:hover {
    font-size: 1.3em; /* Increase the font size on hover */
}


p, b1, b2, b3, b4{
    color: #aaaaaa;
    font-family: 'text', sans-serif;
    text-align: left;
}

th {
    color: #ffffff;
    font-family: 'text', sans-serif;
    text-align: center;
}

td {
    color: #aaaaaa;
    font-family: 'text', sans-serif;
    text-align: center;
}

body {
    background-color: #2b2b2b;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* Styling for sections */
#main-sections-container {
    display: flex;
}

#home, #about {
    flex: 1;
    padding: 3rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px -4px 5px rgba(0, 0, 0, 0.2), -4px 0px 5px rgba(0, 0, 0, 0.2);
}

#home {
    flex: 1;
    background-color: #2f2f2f;
    height: 55vh;
}

#about {
    flex: 2;
    background-color: #3b3b3b;
    height: 60vh;
}

#doing {
    padding: 3rem;
}

#art {
    background-color: #2f2f2f;
    padding: 3rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px -4px 5px rgba(0, 0, 0, 0.2);
}

#photo {
    background-color: #3b3b3b;
    padding: 3rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px -4px 5px rgba(0, 0, 0, 0.2);

}

#contact {
    background-color: #2b2b2b;
    padding: 3rem;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.2);
}

.art-image-grid { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.photo-image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.art-image-grid img {
    height: 200px;
    width: auto;
    margin: 0;
    justify-content: center;
    border: 4px solid #393939;
    background-color: #464646;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease; /* Add transition for smoother size change */
}

.photo-image-grid img {
    height: 200px;
    width: auto;
    margin: 0;
    justify-content: center;
    border: 4px solid #474747;
    background-color: #575757;
    transition: transform 0.3s ease; /* Add transition for smoother size change */
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px -4px 5px rgba(0, 0, 0, 0.2), 4px 0px 5px rgba(0, 0, 0, 0.2), -4px 0px 5px rgba(0, 0, 0, 0.2); /* Adjust the shadow as needed */
}

.art-image-grid img:hover,
.photo-image-grid img:hover {
    transform: scale(0.9); /* Scale down the image on hover */
    transition: transform 0.3s ease; /* Add transition for smoother size change */
}

button {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    padding: 0.7em 2em;
    border-radius: 65px;
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
    margin: 2rem auto;
    display: block;
    transition: transform 0.3s ease;
}

button .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

button:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
}

button:hover {
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    transform: scale(1.1); /* Scale down the image on hover */
}

button:hover .text {
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    transform: scale(1.1); /* Scale down the image on hover */
}

/* Style for the enlarged image modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2); /* Adjust the shadow as needed */
    backdrop-filter: blur(10px); /* Add backdrop filter for blur effect */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.modal-content {
    margin: auto;
    display: block;
    border: 1cap solid #282828; /* Add border style and color */
    background-color: #313131;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px -4px 5px rgba(0, 0, 0, 0.2), 4px 0px 5px rgba(0, 0, 0, 0.2), -4px 0px 5px rgba(0, 0, 0, 0.2); /* Adjust the shadow as needed */
    max-width: 80%;
    max-height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    width: 100%;
    transition: transform 0.5s ease; /* Smooth transition for image sliding */
}

@media only screen and (max-width: 1280px) {
    #main-sections-container {
        flex-direction: column; /* Change the flex direction to stack sections vertically */
    }

    #about {
        order: 1; /* Change the order of the about section to display below the home section */
    }
}
/* Add this to your styles */
body.enlarged {
    overflow: hidden;
  }
/* Add this to your styles */
body::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #5c5c5c; /* Color of the thumb */
    border-radius: 4px; /* Rounded corners */
  }
  
  body::-webkit-scrollbar-track {
    background-color: #434343; /* Color of the track */
  }

  table.customTable {
    width: 100%;
    background-color: #555555;
    border-collapse: collapse; /* Change border-collapse to separate */
    border-spacing: 10px; /* Add spacing between rows and columns */
}

table.customTable img { 
    height: 100px;
    justify-content: center;
}

table.customTable td, table.customTable th {
    border-width: 10px;
    border-color: #424242;
    padding: 10px;
}

table.customTable thead {
    background-color: #424242;
}

  